h3 {
    text-align:center;
    color:navy;
    font-size:x- large;
    margin:0px;
    font-weight:bold;
  }
  
  select {
    font-size:large;
    margin-left:25px;
  }
  
  .current {
    background-color: lightblue;
  }
  
  .past-due {
    color: red;
  }
  